body {
}



.container-left {
    border-radius: 25px;
    box-shadow: 1px 2px 6px #808080;
    float: right;
    padding: 8px;
}

.button {
    width: 35px;
    height: 35px;
    background: #475ac0;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    border-radius: 100%;
    border: none;
    transition: 0.2s;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .button:hover {
        text-decoration: none;
        -webkit-filter: contrast(2);
        transition: 0.2s;
        color: white;
    }

/* Começo CSS menu  */

.buttonMenu {
    width: 40px;
    height: 40px;
    background: #475ac0;
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    border-radius: 100%;
    border: none;
    transition: 0.2s;
    align-items: center;
    padding: 10px;
    text-align: center;
}

    .buttonMenu:hover {
        -webkit-filter: contrast(2);
        transition: 0.2s;
        color: white;
    }

.espacamento {
    margin-right: 50px;
    margin-left: 50px;
}
/* Fim CSS Menu */
/* Começo CSS centro */
.PessoasDesaparecidas {
    text-align: center;
    color: #706f6f;
    font-size: 2em;
}

.search {
    width: 100%;
    display: flex;
    align-items: self-end;
    justify-items: right;
}

.searchTerm {
    width: 100%;
    border: 3px solid #ddddde;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    outline: none;
}

.cardPessoa {
    width: 100%;
    display: flex;
    align-items: self-end;
    justify-items: right;
}

.imagem {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 1px 2px 6px #808080;
}

.infos {
    width: 100%;
    border: 3px solid #ddddde;
    height: 80px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    outline: none;
    margin-top: 30px;
    margin-left: -10px;
    border-left: none;
}

.nome {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 25px;
    font-weight: 500;
}

.idade {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-weight: 300;
}

.buttonVerMais {
    height: 35px;
    width: 10%;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.2s;

    color: #fff;
    background-color: #475ac0;
    border-color: #475ac0;

    margin-left: 75%;
    margin-top: -3%;
}

.buttonMenuTexto {
    text-decoration: none;
    text-weight: bold;
    color: white;
    transition: 0.2s;
}

    .buttonMenuTexto:hover {
        text-decoration: none;
        color: white;
        opacity: 0.8;
        transition: 0.2s;
    }

.cabecalhoEditar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.interior {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnEditarRemover{
    margin-right: 10px;
}

.repetidorPessoas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Fim CSS centro */
/* Começo CSS Direita */
.bagulhoamarelo {
    width: 120px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(224, 221, 27);
    margin: 0 auto;
}

.estatisticas {
    text-align: center;
    color: #706f6f;
    font-size: 1.5em;
}

.subTituloEstatistivas {
    text-align: center;
    color: #706f6f;
    font-size: 0.875em;
    margin-top: 0.875em;
}

.saibaMais {
    font-size: 0.86em;
    color: #706f6f;
    margin-top: 0.86em;
    text-decoration: none;
    transition: 0.2s;
}

    .saibaMais:hover {
        transition: 0.2s;
        text-decoration: none;
    }

.titulovundes {
    color: #706f6f;
    font-size: 0.875em;
    margin-bottom: 0px;
}

.plus {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 0%;
    color: white;
    font-size: 12px;
    text-align: center;

}

.plus2 {
    
}
/* Fim CSS Direita*/
/* Começo CSS Esquerda */

.social {
    height: 20px;
    width: 20px;
    background-color: #475ac0;
    border-radius: 100%;
    color: white;
    font-size: 19px;
    text-align: center;
    margin-bottom: 10px;
    text-align: center;
}

.tituloSocial {
    color: #706f6f;
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}


.tituloAtividadeRecente {
    color: #706f6f;
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* Fim CSS Esquerda */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #c4c4cc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #80808b;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #262525;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #262525
    }
